@model ContatoModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>AstroMarte</title>
</head>
<body>
    <section class="exposicao-obras">
        <h2>Descubra Nossas Principais Obras</h2>
        <p>Explore as missões que moldam nosso futuro no espaço. Venha se inspirar com a próxima era da exploração espacial!</p>

        <div class="obra">
            <img src="/img/artemis.jpg" alt="Imagem da Missão Artemis III" class="obra-img">
            <div class="obra-info">
                <h3>Missão Artemis III</h3>
                <p>A Missão Artemis III marca o retorno dos humanos à Lua, estabelecendo as bases para a presença sustentável no espaço profundo. Conheça de perto essa missão que traz novas possibilidades para a humanidade.</p>
            </div>
        </div>

        <div class="obra">
            <img src="/img/sample__return.webp" alt="Imagem da Missão Mars Sample Return" class="obra-img">
            <div class="obra-info">
                <h3>Missão Mars Sample Return</h3>
                <p>A Mars Sample Return é a primeira missão planejada para trazer amostras de Marte de volta à Terra. Venha ver o começo da nossa busca por respostas sobre o passado geológico e biológico do Planeta Vermelho.</p>
            </div>
        </div>

        <div class="obra">
            <img src="/img/missao_tripulada.jpeg" alt="Imagem da Missão Tripulada a Marte" class="obra-img">
            <div class="obra-info">
                <h3>Missão Tripulada a Marte</h3>
                <p>Explore o futuro da exploração humana com a primeira missão tripulada a Marte. Esse projeto ambicioso representa um marco para a humanidade e um sonho para o futuro da nossa civilização no espaço.</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <ul>
                <h3>Astromarte</h3>
                <img src="/img/logo_astromarte.png" class="astromarte">
                <p>Lutando por um mundo com cada vez mais conhecimento do seu entorno.</p>
                <div class="redes-sociais">
                    <img src="/img/facebook.png" alt="facebook">
                    <img src="/img/twitter.png" alt="twitter">
                    <img src="/img/instagram.png" alt="instagram">
                    <img src="/img/linkedin.png" alt="linkedin">
                </div>
            </ul>
            <ul>
                <h3>Link</h3>
                <li><a href="#">Home</a></li>
                <li><a href="#">Preços</a></li>
                <li><a href="#">Baixar</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
            </ul>
            <ul>
                <h3>FAQ</h3>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Características</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <ul>
                <h3>Nos Contate</h3>
                <li>+55 (15) 3333-3333</li>
                <li>astromarte.expo@gmail.com</li>
                <li>Rua das Petúnias, 333 - Sorocaba, São Paulo - Brasil</li>
            </ul>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
